html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

/* Menu Left */
.locationMenu {
  background: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 0px 10px;
  width: 200px;
  margin: 0;
  position: absolute;
}

#locationTitle {
  color: #000;
  font-size: 22px;
  margin: 0 0 5px 5px;
}

#locationSearch {
  font-size: 12px;
  margin: 0 0 10px 5px;
  width: 90%;
}

#locationList {
  list-style: none;
  padding: 0;
  margin: 0 0 0 5px;
  line-height: 25px;
  font-size: 15px;
}

.menuIcon {
  position: absolute;
  left: 222px;
  width: 40px;
  margin: 0 0 0 5px;
  z-index: 1;
}

.menuIconHidden {
  left: 0px;
}

/* Map */
.showMap {
  position: absolute;
  bottom:0px;
  height: 100%;
  left: 222px;
  right: 0px;
  padding: 0;
  margin: 0;
}

.hideMap {
  position: absolute;
  bottom:0px;
  height: 100%;
  left: 0px;
  right: 0px;
  padding: 0;
  margin: 0;
}

#infoWindowPano {
  width: 200px;
  height: 200px;
}

#infoWindowTitle {
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}